.fbicon {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 10vh;
    background-color: lightsteelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
}

#userfeedback {
    height: 100vh;
    background-color: rgb(152, 228, 156);
    background-size: cover;
}

.sm {
    margin-top: 1%;
}

.fbcopyright {
    margin-top: 17%;
    height: 10vh;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
}