.regiscopyright {
    margin-top: 40%;
    height: 10vh;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
}

#register {
    background-color: rgb(176, 208, 236);
    font-family: 'Josefin Sans', sans-serif;
}